workspace/assignments/02-NoCode Agent/workflow-1-crypto-ingestion.json
{
    "updatedAt": "2026-03-01T16:34:35.086Z",
    "createdAt": "2026-03-01T16:34:35.086Z",
    "id": "QiLbY2VxPp4IEUpd",
    "name": "Crypto Ingestion Pipeline",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "id": "ci-schedule",
            "name": "Every 4 Hours",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                0,
                300
            ],
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 4
                        }
                    ]
                }
            }
        },
        {
            "id": "ci-price",
            "name": "CoinGecko Price",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                250,
                300
            ],
            "parameters": {
                "url": "https://api.coingecko.com/api/v3/simple/price",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "ids",
                            "value": "bitcoin"
                        },
                        {
                            "name": "vs_currencies",
                            "value": "usd,eur,czk"
                        },
                        {
                            "name": "include_market_cap",
                            "value": "true"
                        },
                        {
                            "name": "include_24hr_vol",
                            "value": "true"
                        },
                        {
                            "name": "include_24hr_change",
                            "value": "true"
                        }
                    ]
                },
                "options": {
                    "timeout": 10000
                }
            }
        },
        {
            "id": "ci-history",
            "name": "CoinGecko 7d",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                300
            ],
            "parameters": {
                "url": "https://api.coingecko.com/api/v3/coins/bitcoin/market_chart",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "vs_currency",
                            "value": "usd"
                        },
                        {
                            "name": "days",
                            "value": "7"
                        },
                        {
                            "name": "interval",
                            "value": "daily"
                        }
                    ]
                },
                "options": {
                    "timeout": 10000
                }
            }
        },
        {
            "id": "ci-news",
            "name": "Crypto News RSS",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                750,
                300
            ],
            "parameters": {
                "url": "https://cointelegraph.com/rss",
                "options": {
                    "timeout": 15000,
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    }
                }
            }
        },
        {
            "id": "ci-combine",
            "name": "Build Analysis Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1000,
                300
            ],
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const priceData = $('CoinGecko Price').first().json;\nconst historyData = $('CoinGecko 7d').first().json;\nconst newsRaw = $('Crypto News RSS').first().json;\n\nconst btc = priceData.bitcoin || priceData;\nconst price = btc.usd || 0;\nconst change24h = btc.usd_24h_change || 0;\nconst marketCap = btc.usd_market_cap || 0;\nconst volume = btc.usd_24h_vol || 0;\n\nconst prices7d = (historyData.prices || []).map(p => ({\n  date: new Date(p[0]).toISOString().split('T')[0],\n  price: Math.round(p[1])\n}));\n\nlet headlines = [];\ntry {\n  const text = typeof newsRaw === 'string' ? newsRaw : (newsRaw.data || newsRaw.body || JSON.stringify(newsRaw));\n  const titleRegex = /<title><!\\[CDATA\\[(.*?)\\]\\]><\\/title>|<title>(.*?)<\\/title>/gi;\n  let match;\n  while ((match = titleRegex.exec(text)) !== null && headlines.length < 10) {\n    const title = match[1] || match[2] || '';\n    if (title && !title.includes('Cointelegraph')) headlines.push(title);\n  }\n} catch (e) {\n  headlines = ['RSS parse error'];\n}\n\nconst userMessage = `BTC Price: $${price} (${change24h > 0 ? '+' : ''}${change24h.toFixed(2)}%)\nBTC CZK: ${btc.czk || 0}, EUR: ${btc.eur || 0}\nMarket Cap: $${(marketCap/1e9).toFixed(1)}B\n24h Volume: $${(volume/1e9).toFixed(1)}B\n7-day: ${prices7d.map(p => p.date+': $'+p.price).join(', ')}\nHeadlines:\n${headlines.join('\\n')}\n\nAnalyze the current Bitcoin market situation.`;\n\nreturn [{\n  json: {\n    userMessage,\n    btc_price_usd: price,\n    btc_price_eur: btc.eur || 0,\n    btc_price_czk: btc.czk || 0,\n    btc_24h_change_pct: change24h,\n    btc_market_cap: marketCap,\n    btc_24h_vol: volume\n  }\n}];"
            }
        },
        {
            "id": "ci-openai-analysis",
            "name": "OpenAI Analysis",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1250,
                300
            ],
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ model: 'gpt-4o-mini', temperature: 0.3, max_tokens: 500, messages: [{ role: 'system', content: 'You are a crypto market analyst. Given Bitcoin price data and news headlines, produce a structured analysis in this exact JSON format (no markdown, pure JSON):\\n{\"summary\": \"2-3 sentence market overview in Czech\", \"sentiment\": \"bullish|bearish|neutral\", \"key_signals\": [\"signal1\", \"signal2\"], \"btc_trend\": \"up|down|sideways\", \"risk_level\": \"low|medium|high\", \"notable_headlines\": [\"headline1\"]}' }, { role: 'user', content: $json.userMessage }] }) }}",
                "options": {
                    "timeout": 30000
                }
            }
        },
        {
            "id": "ci-prepare",
            "name": "Prepare Document",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1500,
                300
            ],
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const openaiResp = $input.first().json;\nconst prevData = $('Build Analysis Prompt').first().json;\nconst now = new Date();\n\nlet analysis;\ntry {\n  const content = openaiResp.choices[0].message.content;\n  analysis = JSON.parse(content);\n} catch(e) {\n  analysis = { summary: 'Parsing error', sentiment: 'neutral', key_signals: [], btc_trend: 'unknown', risk_level: 'medium', notable_headlines: [] };\n}\n\nconst text = [\n  `[${now.toISOString().split('T')[0]}] Crypto Analysis`,\n  `Summary: ${analysis.summary}`,\n  `Sentiment: ${analysis.sentiment}`,\n  `BTC: $${prevData.btc_price_usd} (${prevData.btc_24h_change_pct > 0 ? '+' : ''}${(prevData.btc_24h_change_pct||0).toFixed(2)}%)`,\n  `Trend: ${analysis.btc_trend}`,\n  `Risk: ${analysis.risk_level}`,\n  `Signals: ${(analysis.key_signals||[]).join(', ')}`,\n  `Headlines: ${(analysis.notable_headlines||[]).join('; ')}`\n].join('\\n');\n\nreturn [{\n  json: {\n    text,\n    type: 'crypto_analysis',\n    date: now.toISOString().split('T')[0],\n    timestamp: now.toISOString(),\n    sentiment: analysis.sentiment,\n    btc_price_usd: prevData.btc_price_usd,\n    btc_24h_change_pct: prevData.btc_24h_change_pct,\n    btc_trend: analysis.btc_trend,\n    risk_level: analysis.risk_level\n  }\n}];"
            }
        },
        {
            "id": "ci-embeddings",
            "name": "OpenAI Embeddings",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1750,
                300
            ],
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/embeddings",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ model: 'text-embedding-3-small', input: $json.text }) }}",
                "options": {
                    "timeout": 30000
                }
            }
        },
        {
            "id": "ci-format-qdrant",
            "name": "Format Qdrant Point",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2000,
                300
            ],
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const embResp = $input.first().json;\nconst docData = $('Prepare Document').first().json;\nconst vector = embResp.data[0].embedding;\nconst pointId = Date.now();\n\nreturn [{\n  json: {\n    points: [{\n      id: pointId,\n      vector: vector,\n      payload: {\n        text: docData.text,\n        type: docData.type,\n        date: docData.date,\n        timestamp: docData.timestamp,\n        sentiment: docData.sentiment,\n        btc_price_usd: docData.btc_price_usd,\n        btc_24h_change_pct: docData.btc_24h_change_pct,\n        btc_trend: docData.btc_trend,\n        risk_level: docData.risk_level\n      }\n    }]\n  }\n}];"
            }
        },
        {
            "id": "ci-qdrant-store",
            "name": "Store in Qdrant",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2250,
                300
            ],
            "parameters": {
                "method": "PUT",
                "url": "http://10.0.77.10:6333/collections/market-intelligence/points",
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify($json) }}",
                "options": {
                    "timeout": 15000
                }
            }
        }
    ],
    "connections": {
        "Every 4 Hours": {
            "main": [
                [
                    {
                        "node": "CoinGecko Price",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "CoinGecko Price": {
            "main": [
                [
                    {
                        "node": "CoinGecko 7d",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "CoinGecko 7d": {
            "main": [
                [
                    {
                        "node": "Crypto News RSS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Crypto News RSS": {
            "main": [
                [
                    {
                        "node": "Build Analysis Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Analysis Prompt": {
            "main": [
                [
                    {
                        "node": "OpenAI Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Analysis": {
            "main": [
                [
                    {
                        "node": "Prepare Document",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Document": {
            "main": [
                [
                    {
                        "node": "OpenAI Embeddings",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Embeddings": {
            "main": [
                [
                    {
                        "node": "Format Qdrant Point",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Qdrant Point": {
            "main": [
                [
                    {
                        "node": "Store in Qdrant",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": {
        "node:Every 4 Hours": {
            "recurrenceRules": []
        }
    },
    "meta": null,
    "pinData": null,
    "versionId": "fc0d1bad-f17b-40b6-b55b-83ad7fc33efc",
    "activeVersionId": "fc0d1bad-f17b-40b6-b55b-83ad7fc33efc",
    "versionCounter": 4,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-03-01T16:34:35.086Z",
            "createdAt": "2026-03-01T16:34:35.086Z",
            "role": "workflow:owner",
            "workflowId": "QiLbY2VxPp4IEUpd",
            "projectId": "UQU1a6Cj7AYOQ5A0",
            "project": {
                "updatedAt": "2026-02-11T09:54:17.725Z",
                "createdAt": "2026-02-11T09:35:53.373Z",
                "id": "UQU1a6Cj7AYOQ5A0",
                "name": "Marek stancl.marek@gmail.com <stancl.marek@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "58a99e76-cb4e-4039-871c-8a6da3e7a80f",
                "projectRelations": [
                    {
                        "updatedAt": "2026-02-11T09:35:53.373Z",
                        "createdAt": "2026-02-11T09:35:53.373Z",
                        "userId": "58a99e76-cb4e-4039-871c-8a6da3e7a80f",
                        "projectId": "UQU1a6Cj7AYOQ5A0",
                        "user": {
                            "updatedAt": "2026-03-03T12:52:25.766Z",
                            "createdAt": "2026-02-11T09:35:53.061Z",
                            "id": "58a99e76-cb4e-4039-871c-8a6da3e7a80f",
                            "email": "stancl.marek@gmail.com",
                            "firstName": "Marek",
                            "lastName": "stancl.marek@gmail.com",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2026-02-11T09:54:32.978Z",
                                "personalization_survey_n8n_version": "2.7.2",
                                "companySize": "<20",
                                "companyType": "saas",
                                "role": "business-owner",
                                "reportedSource": "google"
                            },
                            "settings": {
                                "userActivated": true,
                                "easyAIWorkflowOnboarded": true,
                                "firstSuccessfulWorkflowId": "py7tOYCJB7bYPkYr",
                                "userActivatedAt": 1770829066137,
                                "npsSurvey": {
                                    "waitingForResponse": true,
                                    "ignoredCount": 2,
                                    "lastShownAt": 1772085296429
                                }
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-03-03",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-01T16:34:35.092Z",
        "createdAt": "2026-03-01T16:34:35.092Z",
        "versionId": "fc0d1bad-f17b-40b6-b55b-83ad7fc33efc",
        "workflowId": "QiLbY2VxPp4IEUpd",
        "nodes": [
            {
                "id": "ci-schedule",
                "name": "Every 4 Hours",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    0,
                    300
                ],
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "hours",
                                "hoursInterval": 4
                            }
                        ]
                    }
                }
            },
            {
                "id": "ci-price",
                "name": "CoinGecko Price",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    250,
                    300
                ],
                "parameters": {
                    "url": "https://api.coingecko.com/api/v3/simple/price",
                    "sendQuery": true,
                    "queryParameters": {
                        "parameters": [
                            {
                                "name": "ids",
                                "value": "bitcoin"
                            },
                            {
                                "name": "vs_currencies",
                                "value": "usd,eur,czk"
                            },
                            {
                                "name": "include_market_cap",
                                "value": "true"
                            },
                            {
                                "name": "include_24hr_vol",
                                "value": "true"
                            },
                            {
                                "name": "include_24hr_change",
                                "value": "true"
                            }
                        ]
                    },
                    "options": {
                        "timeout": 10000
                    }
                }
            },
            {
                "id": "ci-history",
                "name": "CoinGecko 7d",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    500,
                    300
                ],
                "parameters": {
                    "url": "https://api.coingecko.com/api/v3/coins/bitcoin/market_chart",
                    "sendQuery": true,
                    "queryParameters": {
                        "parameters": [
                            {
                                "name": "vs_currency",
                                "value": "usd"
                            },
                            {
                                "name": "days",
                                "value": "7"
                            },
                            {
                                "name": "interval",
                                "value": "daily"
                            }
                        ]
                    },
                    "options": {
                        "timeout": 10000
                    }
                }
            },
            {
                "id": "ci-news",
                "name": "Crypto News RSS",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    750,
                    300
                ],
                "parameters": {
                    "url": "https://cointelegraph.com/rss",
                    "options": {
                        "timeout": 15000,
                        "response": {
                            "response": {
                                "responseFormat": "text"
                            }
                        }
                    }
                }
            },
            {
                "id": "ci-combine",
                "name": "Build Analysis Prompt",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1000,
                    300
                ],
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "jsCode": "const priceData = $('CoinGecko Price').first().json;\nconst historyData = $('CoinGecko 7d').first().json;\nconst newsRaw = $('Crypto News RSS').first().json;\n\nconst btc = priceData.bitcoin || priceData;\nconst price = btc.usd || 0;\nconst change24h = btc.usd_24h_change || 0;\nconst marketCap = btc.usd_market_cap || 0;\nconst volume = btc.usd_24h_vol || 0;\n\nconst prices7d = (historyData.prices || []).map(p => ({\n  date: new Date(p[0]).toISOString().split('T')[0],\n  price: Math.round(p[1])\n}));\n\nlet headlines = [];\ntry {\n  const text = typeof newsRaw === 'string' ? newsRaw : (newsRaw.data || newsRaw.body || JSON.stringify(newsRaw));\n  const titleRegex = /<title><!\\[CDATA\\[(.*?)\\]\\]><\\/title>|<title>(.*?)<\\/title>/gi;\n  let match;\n  while ((match = titleRegex.exec(text)) !== null && headlines.length < 10) {\n    const title = match[1] || match[2] || '';\n    if (title && !title.includes('Cointelegraph')) headlines.push(title);\n  }\n} catch (e) {\n  headlines = ['RSS parse error'];\n}\n\nconst userMessage = `BTC Price: $${price} (${change24h > 0 ? '+' : ''}${change24h.toFixed(2)}%)\nBTC CZK: ${btc.czk || 0}, EUR: ${btc.eur || 0}\nMarket Cap: $${(marketCap/1e9).toFixed(1)}B\n24h Volume: $${(volume/1e9).toFixed(1)}B\n7-day: ${prices7d.map(p => p.date+': $'+p.price).join(', ')}\nHeadlines:\n${headlines.join('\\n')}\n\nAnalyze the current Bitcoin market situation.`;\n\nreturn [{\n  json: {\n    userMessage,\n    btc_price_usd: price,\n    btc_price_eur: btc.eur || 0,\n    btc_price_czk: btc.czk || 0,\n    btc_24h_change_pct: change24h,\n    btc_market_cap: marketCap,\n    btc_24h_vol: volume\n  }\n}];"
                }
            },
            {
                "id": "ci-openai-analysis",
                "name": "OpenAI Analysis",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    1250,
                    300
                ],
                "parameters": {
                    "method": "POST",
                    "url": "https://api.openai.com/v1/chat/completions",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "contentType": "raw",
                    "rawContentType": "application/json",
                    "body": "={{ JSON.stringify({ model: 'gpt-4o-mini', temperature: 0.3, max_tokens: 500, messages: [{ role: 'system', content: 'You are a crypto market analyst. Given Bitcoin price data and news headlines, produce a structured analysis in this exact JSON format (no markdown, pure JSON):\\n{\"summary\": \"2-3 sentence market overview in Czech\", \"sentiment\": \"bullish|bearish|neutral\", \"key_signals\": [\"signal1\", \"signal2\"], \"btc_trend\": \"up|down|sideways\", \"risk_level\": \"low|medium|high\", \"notable_headlines\": [\"headline1\"]}' }, { role: 'user', content: $json.userMessage }] }) }}",
                    "options": {
                        "timeout": 30000
                    }
                }
            },
            {
                "id": "ci-prepare",
                "name": "Prepare Document",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1500,
                    300
                ],
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "jsCode": "const openaiResp = $input.first().json;\nconst prevData = $('Build Analysis Prompt').first().json;\nconst now = new Date();\n\nlet analysis;\ntry {\n  const content = openaiResp.choices[0].message.content;\n  analysis = JSON.parse(content);\n} catch(e) {\n  analysis = { summary: 'Parsing error', sentiment: 'neutral', key_signals: [], btc_trend: 'unknown', risk_level: 'medium', notable_headlines: [] };\n}\n\nconst text = [\n  `[${now.toISOString().split('T')[0]}] Crypto Analysis`,\n  `Summary: ${analysis.summary}`,\n  `Sentiment: ${analysis.sentiment}`,\n  `BTC: $${prevData.btc_price_usd} (${prevData.btc_24h_change_pct > 0 ? '+' : ''}${(prevData.btc_24h_change_pct||0).toFixed(2)}%)`,\n  `Trend: ${analysis.btc_trend}`,\n  `Risk: ${analysis.risk_level}`,\n  `Signals: ${(analysis.key_signals||[]).join(', ')}`,\n  `Headlines: ${(analysis.notable_headlines||[]).join('; ')}`\n].join('\\n');\n\nreturn [{\n  json: {\n    text,\n    type: 'crypto_analysis',\n    date: now.toISOString().split('T')[0],\n    timestamp: now.toISOString(),\n    sentiment: analysis.sentiment,\n    btc_price_usd: prevData.btc_price_usd,\n    btc_24h_change_pct: prevData.btc_24h_change_pct,\n    btc_trend: analysis.btc_trend,\n    risk_level: analysis.risk_level\n  }\n}];"
                }
            },
            {
                "id": "ci-embeddings",
                "name": "OpenAI Embeddings",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    1750,
                    300
                ],
                "parameters": {
                    "method": "POST",
                    "url": "https://api.openai.com/v1/embeddings",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "contentType": "raw",
                    "rawContentType": "application/json",
                    "body": "={{ JSON.stringify({ model: 'text-embedding-3-small', input: $json.text }) }}",
                    "options": {
                        "timeout": 30000
                    }
                }
            },
            {
                "id": "ci-format-qdrant",
                "name": "Format Qdrant Point",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2000,
                    300
                ],
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "jsCode": "const embResp = $input.first().json;\nconst docData = $('Prepare Document').first().json;\nconst vector = embResp.data[0].embedding;\nconst pointId = Date.now();\n\nreturn [{\n  json: {\n    points: [{\n      id: pointId,\n      vector: vector,\n      payload: {\n        text: docData.text,\n        type: docData.type,\n        date: docData.date,\n        timestamp: docData.timestamp,\n        sentiment: docData.sentiment,\n        btc_price_usd: docData.btc_price_usd,\n        btc_24h_change_pct: docData.btc_24h_change_pct,\n        btc_trend: docData.btc_trend,\n        risk_level: docData.risk_level\n      }\n    }]\n  }\n}];"
                }
            },
            {
                "id": "ci-qdrant-store",
                "name": "Store in Qdrant",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    2250,
                    300
                ],
                "parameters": {
                    "method": "PUT",
                    "url": "http://10.0.77.10:6333/collections/market-intelligence/points",
                    "sendBody": true,
                    "contentType": "raw",
                    "rawContentType": "application/json",
                    "body": "={{ JSON.stringify($json) }}",
                    "options": {
                        "timeout": 15000
                    }
                }
            }
        ],
        "connections": {
            "Every 4 Hours": {
                "main": [
                    [
                        {
                            "node": "CoinGecko Price",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "CoinGecko Price": {
                "main": [
                    [
                        {
                            "node": "CoinGecko 7d",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "CoinGecko 7d": {
                "main": [
                    [
                        {
                            "node": "Crypto News RSS",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Crypto News RSS": {
                "main": [
                    [
                        {
                            "node": "Build Analysis Prompt",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Analysis Prompt": {
                "main": [
                    [
                        {
                            "node": "OpenAI Analysis",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "OpenAI Analysis": {
                "main": [
                    [
                        {
                            "node": "Prepare Document",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Prepare Document": {
                "main": [
                    [
                        {
                            "node": "OpenAI Embeddings",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "OpenAI Embeddings": {
                "main": [
                    [
                        {
                            "node": "Format Qdrant Point",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format Qdrant Point": {
                "main": [
                    [
                        {
                            "node": "Store in Qdrant",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Marek stancl.marek@gmail.com",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-03-01T16:34:35.169Z",
                "id": 34,
                "workflowId": "QiLbY2VxPp4IEUpd",
                "versionId": "fc0d1bad-f17b-40b6-b55b-83ad7fc33efc",
                "event": "activated",
                "userId": "58a99e76-cb4e-4039-871c-8a6da3e7a80f"
            }
        ]
    }
}
