workspace/assignments/02-NoCode Agent/workflow-2-macro-ingestion.json
{
    "updatedAt": "2026-03-01T16:34:35.244Z",
    "createdAt": "2026-03-01T16:34:35.244Z",
    "id": "KU4ap6EinyoX5T8Q",
    "name": "Macro Ingestion Pipeline",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "id": "mi-schedule",
            "name": "Daily 8AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                0,
                300
            ],
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "days",
                            "daysInterval": 1,
                            "triggerAtHour": 8,
                            "triggerAtMinute": 0
                        }
                    ]
                }
            }
        },
        {
            "id": "mi-yahoo",
            "name": "Yahoo Finance RSS",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                250,
                300
            ],
            "parameters": {
                "url": "https://feeds.finance.yahoo.com/rss/2.0/headline?s=^DJI,^GSPC,^IXIC&region=US&lang=en-US",
                "options": {
                    "timeout": 15000,
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    }
                }
            }
        },
        {
            "id": "mi-parse",
            "name": "Parse News",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                300
            ],
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const raw = $input.first().json;\nconst text = typeof raw === 'string' ? raw : (raw.data || raw.body || JSON.stringify(raw));\n\nlet items = [];\ntry {\n  const itemRegex = /<item>([\\s\\S]*?)<\\/item>/gi;\n  let match;\n  while ((match = itemRegex.exec(text)) !== null && items.length < 15) {\n    const itemXml = match[1];\n    const title = (itemXml.match(/<title>(.*?)<\\/title>/) || [])[1] || '';\n    const desc = (itemXml.match(/<description>(.*?)<\\/description>/) || [])[1] || '';\n    const pubDate = (itemXml.match(/<pubDate>(.*?)<\\/pubDate>/) || [])[1] || '';\n    if (title) {\n      items.push({ title: title.replace(/<!\\[CDATA\\[|\\]\\]>/g, ''), description: desc.replace(/<!\\[CDATA\\[|\\]\\]>/g, '').substring(0, 300), pubDate });\n    }\n  }\n} catch (e) {\n  items = [{ title: 'RSS parsing error', description: e.message, pubDate: '' }];\n}\n\nconst newsText = items.map((item, i) => `${i+1}. ${item.title}\\n   ${item.description}`).join('\\n\\n');\n\nreturn [{ json: { news_items: items, source: 'yahoo_finance', item_count: items.length, userMessage: `Today's financial/macro news (${items.length} items from yahoo_finance):\\n\\n${newsText}\\n\\nAnalyze the macro-economic landscape and its implications for Bitcoin.` } }];"
            }
        },
        {
            "id": "mi-openai-analysis",
            "name": "OpenAI Macro Analysis",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                750,
                300
            ],
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ model: 'gpt-4o-mini', temperature: 0.3, max_tokens: 600, messages: [{ role: 'system', content: 'You are a macro-economic analyst focused on how global economic events impact Bitcoin and crypto markets. Given macro/financial news, produce analysis in this exact JSON format (no markdown, pure JSON):\\n{\"summary\": \"2-3 sentence macro overview in Czech\", \"macro_sentiment\": \"hawkish|dovish|neutral\", \"crypto_impact\": \"positive|negative|neutral\", \"key_events\": [\"event1\"], \"indicators_mentioned\": [\"indicator1\"], \"risk_factors\": [\"risk1\"], \"outlook\": \"1-2 sentence outlook for Bitcoin\"}' }, { role: 'user', content: $json.userMessage }] }) }}",
                "options": {
                    "timeout": 30000
                }
            }
        },
        {
            "id": "mi-prepare",
            "name": "Prepare Document",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1000,
                300
            ],
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const openaiResp = $input.first().json;\nconst prevData = $('Parse News').first().json;\nconst now = new Date();\n\nlet analysis;\ntry {\n  analysis = JSON.parse(openaiResp.choices[0].message.content);\n} catch(e) {\n  analysis = { summary: 'Parse error', macro_sentiment: 'neutral', crypto_impact: 'neutral', key_events: [], indicators_mentioned: [], risk_factors: [], outlook: 'N/A' };\n}\n\nconst text = [\n  `[${now.toISOString().split('T')[0]}] Macro Analysis`,\n  `Summary: ${analysis.summary}`,\n  `Macro sentiment: ${analysis.macro_sentiment}`,\n  `Crypto impact: ${analysis.crypto_impact}`,\n  `Key events: ${(analysis.key_events||[]).join(', ')}`,\n  `Indicators: ${(analysis.indicators_mentioned||[]).join(', ')}`,\n  `Risk factors: ${(analysis.risk_factors||[]).join(', ')}`,\n  `Outlook: ${analysis.outlook}`\n].join('\\n');\n\nreturn [{ json: { text, type: 'macro_analysis', date: now.toISOString().split('T')[0], timestamp: now.toISOString(), source: prevData.source, macro_sentiment: analysis.macro_sentiment, crypto_impact: analysis.crypto_impact } }];"
            }
        },
        {
            "id": "mi-embeddings",
            "name": "OpenAI Embeddings",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1250,
                300
            ],
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/embeddings",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ model: 'text-embedding-3-small', input: $json.text }) }}",
                "options": {
                    "timeout": 30000
                }
            }
        },
        {
            "id": "mi-format-qdrant",
            "name": "Format Qdrant Point",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1500,
                300
            ],
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const embResp = $input.first().json;\nconst docData = $('Prepare Document').first().json;\nconst vector = embResp.data[0].embedding;\nconst pointId = Date.now();\n\nreturn [{ json: { points: [{ id: pointId, vector: vector, payload: { text: docData.text, type: docData.type, date: docData.date, timestamp: docData.timestamp, source: docData.source, macro_sentiment: docData.macro_sentiment, crypto_impact: docData.crypto_impact } }] } }];"
            }
        },
        {
            "id": "mi-qdrant-store",
            "name": "Store in Qdrant",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1750,
                300
            ],
            "parameters": {
                "method": "PUT",
                "url": "http://10.0.77.10:6333/collections/market-intelligence/points",
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify($json) }}",
                "options": {
                    "timeout": 15000
                }
            }
        }
    ],
    "connections": {
        "Daily 8AM": {
            "main": [
                [
                    {
                        "node": "Yahoo Finance RSS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Yahoo Finance RSS": {
            "main": [
                [
                    {
                        "node": "Parse News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse News": {
            "main": [
                [
                    {
                        "node": "OpenAI Macro Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Macro Analysis": {
            "main": [
                [
                    {
                        "node": "Prepare Document",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Document": {
            "main": [
                [
                    {
                        "node": "OpenAI Embeddings",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Embeddings": {
            "main": [
                [
                    {
                        "node": "Format Qdrant Point",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Qdrant Point": {
            "main": [
                [
                    {
                        "node": "Store in Qdrant",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": {
        "node:Daily 8AM": {
            "recurrenceRules": []
        }
    },
    "meta": null,
    "pinData": null,
    "versionId": "c6f932c3-871f-4b46-ac18-e4e91a3cbfbb",
    "activeVersionId": "c6f932c3-871f-4b46-ac18-e4e91a3cbfbb",
    "versionCounter": 4,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-03-01T16:34:35.244Z",
            "createdAt": "2026-03-01T16:34:35.244Z",
            "role": "workflow:owner",
            "workflowId": "KU4ap6EinyoX5T8Q",
            "projectId": "UQU1a6Cj7AYOQ5A0",
            "project": {
                "updatedAt": "2026-02-11T09:54:17.725Z",
                "createdAt": "2026-02-11T09:35:53.373Z",
                "id": "UQU1a6Cj7AYOQ5A0",
                "name": "Marek stancl.marek@gmail.com <stancl.marek@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "58a99e76-cb4e-4039-871c-8a6da3e7a80f",
                "projectRelations": [
                    {
                        "updatedAt": "2026-02-11T09:35:53.373Z",
                        "createdAt": "2026-02-11T09:35:53.373Z",
                        "userId": "58a99e76-cb4e-4039-871c-8a6da3e7a80f",
                        "projectId": "UQU1a6Cj7AYOQ5A0",
                        "user": {
                            "updatedAt": "2026-03-03T12:52:25.766Z",
                            "createdAt": "2026-02-11T09:35:53.061Z",
                            "id": "58a99e76-cb4e-4039-871c-8a6da3e7a80f",
                            "email": "stancl.marek@gmail.com",
                            "firstName": "Marek",
                            "lastName": "stancl.marek@gmail.com",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2026-02-11T09:54:32.978Z",
                                "personalization_survey_n8n_version": "2.7.2",
                                "companySize": "<20",
                                "companyType": "saas",
                                "role": "business-owner",
                                "reportedSource": "google"
                            },
                            "settings": {
                                "userActivated": true,
                                "easyAIWorkflowOnboarded": true,
                                "firstSuccessfulWorkflowId": "py7tOYCJB7bYPkYr",
                                "userActivatedAt": 1770829066137,
                                "npsSurvey": {
                                    "waitingForResponse": true,
                                    "ignoredCount": 2,
                                    "lastShownAt": 1772085296429
                                }
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-03-03",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-01T16:34:35.249Z",
        "createdAt": "2026-03-01T16:34:35.249Z",
        "versionId": "c6f932c3-871f-4b46-ac18-e4e91a3cbfbb",
        "workflowId": "KU4ap6EinyoX5T8Q",
        "nodes": [
            {
                "id": "mi-schedule",
                "name": "Daily 8AM",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    0,
                    300
                ],
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "days",
                                "daysInterval": 1,
                                "triggerAtHour": 8,
                                "triggerAtMinute": 0
                            }
                        ]
                    }
                }
            },
            {
                "id": "mi-yahoo",
                "name": "Yahoo Finance RSS",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    250,
                    300
                ],
                "parameters": {
                    "url": "https://feeds.finance.yahoo.com/rss/2.0/headline?s=^DJI,^GSPC,^IXIC&region=US&lang=en-US",
                    "options": {
                        "timeout": 15000,
                        "response": {
                            "response": {
                                "responseFormat": "text"
                            }
                        }
                    }
                }
            },
            {
                "id": "mi-parse",
                "name": "Parse News",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    500,
                    300
                ],
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "jsCode": "const raw = $input.first().json;\nconst text = typeof raw === 'string' ? raw : (raw.data || raw.body || JSON.stringify(raw));\n\nlet items = [];\ntry {\n  const itemRegex = /<item>([\\s\\S]*?)<\\/item>/gi;\n  let match;\n  while ((match = itemRegex.exec(text)) !== null && items.length < 15) {\n    const itemXml = match[1];\n    const title = (itemXml.match(/<title>(.*?)<\\/title>/) || [])[1] || '';\n    const desc = (itemXml.match(/<description>(.*?)<\\/description>/) || [])[1] || '';\n    const pubDate = (itemXml.match(/<pubDate>(.*?)<\\/pubDate>/) || [])[1] || '';\n    if (title) {\n      items.push({ title: title.replace(/<!\\[CDATA\\[|\\]\\]>/g, ''), description: desc.replace(/<!\\[CDATA\\[|\\]\\]>/g, '').substring(0, 300), pubDate });\n    }\n  }\n} catch (e) {\n  items = [{ title: 'RSS parsing error', description: e.message, pubDate: '' }];\n}\n\nconst newsText = items.map((item, i) => `${i+1}. ${item.title}\\n   ${item.description}`).join('\\n\\n');\n\nreturn [{ json: { news_items: items, source: 'yahoo_finance', item_count: items.length, userMessage: `Today's financial/macro news (${items.length} items from yahoo_finance):\\n\\n${newsText}\\n\\nAnalyze the macro-economic landscape and its implications for Bitcoin.` } }];"
                }
            },
            {
                "id": "mi-openai-analysis",
                "name": "OpenAI Macro Analysis",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    750,
                    300
                ],
                "parameters": {
                    "method": "POST",
                    "url": "https://api.openai.com/v1/chat/completions",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "contentType": "raw",
                    "rawContentType": "application/json",
                    "body": "={{ JSON.stringify({ model: 'gpt-4o-mini', temperature: 0.3, max_tokens: 600, messages: [{ role: 'system', content: 'You are a macro-economic analyst focused on how global economic events impact Bitcoin and crypto markets. Given macro/financial news, produce analysis in this exact JSON format (no markdown, pure JSON):\\n{\"summary\": \"2-3 sentence macro overview in Czech\", \"macro_sentiment\": \"hawkish|dovish|neutral\", \"crypto_impact\": \"positive|negative|neutral\", \"key_events\": [\"event1\"], \"indicators_mentioned\": [\"indicator1\"], \"risk_factors\": [\"risk1\"], \"outlook\": \"1-2 sentence outlook for Bitcoin\"}' }, { role: 'user', content: $json.userMessage }] }) }}",
                    "options": {
                        "timeout": 30000
                    }
                }
            },
            {
                "id": "mi-prepare",
                "name": "Prepare Document",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1000,
                    300
                ],
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "jsCode": "const openaiResp = $input.first().json;\nconst prevData = $('Parse News').first().json;\nconst now = new Date();\n\nlet analysis;\ntry {\n  analysis = JSON.parse(openaiResp.choices[0].message.content);\n} catch(e) {\n  analysis = { summary: 'Parse error', macro_sentiment: 'neutral', crypto_impact: 'neutral', key_events: [], indicators_mentioned: [], risk_factors: [], outlook: 'N/A' };\n}\n\nconst text = [\n  `[${now.toISOString().split('T')[0]}] Macro Analysis`,\n  `Summary: ${analysis.summary}`,\n  `Macro sentiment: ${analysis.macro_sentiment}`,\n  `Crypto impact: ${analysis.crypto_impact}`,\n  `Key events: ${(analysis.key_events||[]).join(', ')}`,\n  `Indicators: ${(analysis.indicators_mentioned||[]).join(', ')}`,\n  `Risk factors: ${(analysis.risk_factors||[]).join(', ')}`,\n  `Outlook: ${analysis.outlook}`\n].join('\\n');\n\nreturn [{ json: { text, type: 'macro_analysis', date: now.toISOString().split('T')[0], timestamp: now.toISOString(), source: prevData.source, macro_sentiment: analysis.macro_sentiment, crypto_impact: analysis.crypto_impact } }];"
                }
            },
            {
                "id": "mi-embeddings",
                "name": "OpenAI Embeddings",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    1250,
                    300
                ],
                "parameters": {
                    "method": "POST",
                    "url": "https://api.openai.com/v1/embeddings",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "contentType": "raw",
                    "rawContentType": "application/json",
                    "body": "={{ JSON.stringify({ model: 'text-embedding-3-small', input: $json.text }) }}",
                    "options": {
                        "timeout": 30000
                    }
                }
            },
            {
                "id": "mi-format-qdrant",
                "name": "Format Qdrant Point",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1500,
                    300
                ],
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "jsCode": "const embResp = $input.first().json;\nconst docData = $('Prepare Document').first().json;\nconst vector = embResp.data[0].embedding;\nconst pointId = Date.now();\n\nreturn [{ json: { points: [{ id: pointId, vector: vector, payload: { text: docData.text, type: docData.type, date: docData.date, timestamp: docData.timestamp, source: docData.source, macro_sentiment: docData.macro_sentiment, crypto_impact: docData.crypto_impact } }] } }];"
                }
            },
            {
                "id": "mi-qdrant-store",
                "name": "Store in Qdrant",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    1750,
                    300
                ],
                "parameters": {
                    "method": "PUT",
                    "url": "http://10.0.77.10:6333/collections/market-intelligence/points",
                    "sendBody": true,
                    "contentType": "raw",
                    "rawContentType": "application/json",
                    "body": "={{ JSON.stringify($json) }}",
                    "options": {
                        "timeout": 15000
                    }
                }
            }
        ],
        "connections": {
            "Daily 8AM": {
                "main": [
                    [
                        {
                            "node": "Yahoo Finance RSS",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Yahoo Finance RSS": {
                "main": [
                    [
                        {
                            "node": "Parse News",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Parse News": {
                "main": [
                    [
                        {
                            "node": "OpenAI Macro Analysis",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "OpenAI Macro Analysis": {
                "main": [
                    [
                        {
                            "node": "Prepare Document",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Prepare Document": {
                "main": [
                    [
                        {
                            "node": "OpenAI Embeddings",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "OpenAI Embeddings": {
                "main": [
                    [
                        {
                            "node": "Format Qdrant Point",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format Qdrant Point": {
                "main": [
                    [
                        {
                            "node": "Store in Qdrant",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Marek stancl.marek@gmail.com",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-03-01T16:34:35.288Z",
                "id": 36,
                "workflowId": "KU4ap6EinyoX5T8Q",
                "versionId": "c6f932c3-871f-4b46-ac18-e4e91a3cbfbb",
                "event": "activated",
                "userId": "58a99e76-cb4e-4039-871c-8a6da3e7a80f"
            }
        ]
    }
}
